---
import config from "@/config/config.json";
import {
  IoLogoFacebook,
  IoLogoInstagram,
  IoLogoTwitter,
  IoLogoLinkedin,
  IoLogoYoutube,
  IoLogoTwitch,
  IoLogoTiktok,
} from "react-icons/io5";

const { base_url }: { base_url: string } = config.site;
const {
  title,
  description,
  slug,
  className,
}: { title?: string; description?: string; slug?: string; className?: string } =
  Astro.props;
---

<div>
  <h4>Donde Encontrarnos</h4>
  <ul class={className}>
    <li class="inline-block">
      <a
        aria-label="facebook share button"
        href="https://www.facebook.com/GrupoLinuxUD"
        target="_blank"
        rel="noreferrer noopener"
      >
        <IoLogoFacebook />
      </a>
    </li>
    <li class="inline-block">
      <a
        aria-label="instagram share button"
        href="https://www.instagram.com/grupo_glud/"
        target="_blank"
        rel="noreferrer noopener"
      >
        <IoLogoInstagram />
      </a>
    </li>
    <li class="inline-block">
      <a
        aria-label="twitter share button"
        href="https://twitter.com/GrupoGLUD"
        target="_blank"
        rel="noreferrer noopener"
      >
        <IoLogoTwitter />
      </a>
    </li>
    <li class="inline-block">
      <a
        aria-label="linkedin share button"
        href="https://www.linkedin.com/in/grupoglud/"
        target="_blank"
        rel="noreferrer noopener"
      >
        <IoLogoLinkedin />
      </a>
    </li>
    <li class="inline-block">
      <a
        aria-label="youtube share button"
        href="https://www.youtube.com/c/GrupoLinuxUniversidadDistrital"
        target="_blank"
        rel="noreferrer noopener"
      >
        <IoLogoYoutube />
      </a>
    </li>
    <li class="inline-block">
      <a
        aria-label="twitch share button"
        href="https://www.twitch.tv/grupoglud"
        target="_blank"
        rel="noreferrer noopener"
      >
        <IoLogoTwitch />
      </a>
    </li>
    <li class="inline-block">
      <a
        aria-label="tiktok share button"
        href="https://www.tiktok.com/@grupo_glud"
        target="_blank"
        rel="noreferrer noopener"
      >
        <IoLogoTiktok />
      </a>
    </li>
  </ul>

  <a
    href="https://www.google.com/maps/place/Universidad+Distrital+Calle+40/@4.627963,-74.065937,21z/data=!4m6!3m5!1s0x8e3f9a286d7ef055:0x9cee6f53b8b5f090!8m2!3d4.6279572!4d-74.0659162!16s%2Fg%2F11bw4q7_lt?hl=es&entry=ttu"
    target="_blank"
  >
    <img src="./ubicacion.png" alt="enlace a nuestra ubicacion" />
  </a>

  <div id="siguenos" class={className}>
    <h4>Trabajo</h4>
    <ul id="lista_grupo" class={className}>
      <li>
        <a href="https://github.com/GLUD" target="_blank">Github</a>
      </li>
      <li>
        <a href="https://gitlab.com/GLUD" target="_blank">Gitlab</a>
      </li>
    </ul>
  </div>
</div>
