/* header.module.css */
.slud_header {
    background-color: #13333a;
    
}

.slud_header_image img {
    max-width: 100%;
    height: auto;
}

.slud_intro_section {
    flex-grow: 1;
}

/* Eliminamos esta regla de estilo */
/*.slud_links_menu a {
    transition: color 0.3s ease;
  }*/

/* Añadimos estilos para el enlace de navegación */
.navLink {
    transition: color 0.3s ease;
}