.sponsor_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue_dark);
    padding: 2% 20%;
}

.sponsor_section_title {
    color: var(--green_light);
    margin-bottom: 1rem;
}

.sponsor_section p {
    color: white;
}
