.speaker_general_wrapper {
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 2% 20%;
    overflow-x: auto; /* Para permitir el scroll horizontal si es necesario */
}

@media (max-width: 1024px) {
    .speaker_general_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .speaker_general_wrapper {
        grid-template-columns: 1fr;
    }
}
