@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue_light: #0378A6;
  --blue_dark: #024959;
  --green_dark: #038C5A;
  --green_light: #2ABF6B;
}

body{
  margin: 0;
  padding: 0;
  background-color: white;
}