.speakers_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 2% 20%;
}

.speaker_info {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2% 5% 2%;
}

.speaker_info h1 {
    color: var(--blue_light);
    margin-bottom: 1rem;
}

.speaker_info p {
    color: black;
}

.speakerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    max-height: 20rem;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.speakerContainer::-webkit-scrollbar {
    display: none;
}

.speakerContainer p {
    margin-bottom: 10vh;
}

.speakerCard {
    width: 15rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 1rem;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    padding: auto 20px;

}

.speakerCard:hover {
    background: #ecf7f3;
}

.speakerCardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.speakerImage {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.speakerName {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.speakerDescription {
    color: #555;
}